body {
  height: 100%;
  width: 100%;
  /* shuffle background img upon refresh */
  background-image: url('https://lh3.googleusercontent.com/OlqTNJwxB8ngHOq4ntPF8kw9plCmFoy9rDEcNU4gF7h_CIllyd03L3PEO1MpIXydYZOcW3bUxAPi99KhuNeNqLaK82g_RoRR=w1920-h1080-rw-no');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* transition slowly when click New Quote*/
/* randomize top and left upon refresh */
#quoteBox {
  width: 450px;
  height: auto;
  margin-top: 5%;
  align-content: center;
  position: absolute;
}

.jumbotron {
  width: 600px !important;
  height: 350px !important;
  border-radius:3px;
  position:relative;
  margin:8% auto auto auto;
  width:450px;
  padding:40px 50px;
}

#tweet {
  position: relative;
  bottom: 12px;
}

#newQuote {
  position: relative;
  bottom: 2px;
}
